In [1]:
import pandas as pd
df=pd.read_csv('WineQT.csv')
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,1
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,2
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,3
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1138,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,1592
1139,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6,1593
1140,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,1594
1141,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,1595
1142,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,1597

In [2]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4

In [4]:
x=df.drop(['quality'],axis=1)
y=df['quality']
x.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,Id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,4

In [5]:
y.head()

0    5
1    5
2    5
3    6
4    5
Name: quality, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [8]:
print(x_train.shape)
print(x_train.size)
x_train.head()

(914, 12)
10968

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,Id
1050,6.1,0.60,0.08,1.8,0.071,14.0,45.0,0.99336,3.38,0.54,11.0,1473
175,10.8,0.32,0.44,1.6,0.063,16.0,37.0,0.99850,3.22,0.78,10.0,250
198,8.9,0.40,0.32,5.6,0.087,10.0,47.0,0.99910,3.38,0.77,10.5,279
535,8.3,0.65,0.10,2.9,0.089,17.0,40.0,0.99803,3.29,0.55,9.5,750
81,9.4,0.40,0.31,2.2,0.090,13.0,62.0,0.99660,3.07,0.63,10.5,115

In [9]:
print(x_test.shape)
print(x_test.size)
x_test.head()

(229, 12)
2748

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,Id
946,9.1,0.775,0.22,2.2,0.079,12.0,48.0,0.99760,3.18,0.51,9.6,1333
142,6.9,1.090,0.06,2.1,0.061,12.0,31.0,0.99480,3.51,0.43,11.4,199
934,9.1,0.760,0.68,1.7,0.414,18.0,64.0,0.99652,2.90,1.33,9.1,1319
625,9.0,0.800,0.12,2.4,0.083,8.0,28.0,0.99836,3.33,0.65,10.4,886
124,7.3,0.380,0.21,2.0,0.080,7.0,35.0,0.99610,3.33,0.47,9.5,176

In [10]:
print(y_train.shape)
print(y_train.size)
y_train.head()

(914,)
914

1050    5
175     6
198     7
535     5
81      6
Name: quality, dtype: int64

In [11]:
print(y_test.shape)
print(y_test.size)
y_test.head()

(229,)
229

946    5
142    4
934    6
625    6
124    5
Name: quality, dtype: int64

In [12]:
from sklearn.ensemble import RandomForestRegressor
rg=RandomForestRegressor(n_estimators=10,random_state=0)
rg.fit(x_train,y_train)

RandomForestRegressor(n_estimators=10, random_state=0)

In [13]:
rg.score(x_test,y_test)

0.37896849212303085

In [14]:
y_pred=rg.predict(x_test)
y_pred

array([5.3, 5.4, 5.2, 5.5, 5.2, 6.2, 5.3, 6.2, 6.2, 5.8, 5.2, 5.7, 5.2,
       5.4, 6.1, 4.8, 6. , 5.6, 5. , 4.9, 6.3, 4.8, 5.6, 5.9, 4.9, 5.9,
       5.6, 6.2, 5.5, 5.4, 5.1, 5.6, 5.8, 5.7, 5.7, 6. , 6.2, 6.1, 5.3,
       6.1, 5.3, 6. , 5.2, 6.3, 5.3, 5.4, 5. , 6.5, 6.2, 5.5, 5.5, 5.1,
       5. , 7. , 5. , 5.3, 5.7, 5.1, 5.3, 5.7, 5.4, 5. , 5.7, 5.5, 5.2,
       5. , 7. , 5.1, 5.8, 6.5, 4.9, 5.9, 5.9, 6.8, 6.2, 6.7, 6.3, 5.7,
       5.5, 6.2, 5. , 5.4, 5.8, 5.4, 5.8, 5.6, 4.7, 4.9, 5.1, 6. , 6.1,
       6.4, 5.3, 5.2, 4.6, 5.3, 5.1, 5.2, 4.9, 5. , 4.9, 5.6, 7.1, 4.9,
       5.5, 5.6, 5.7, 6.2, 5.1, 4.8, 5. , 4.9, 5. , 7. , 5.3, 5.4, 5.2,
       6.2, 5.7, 7.3, 6.1, 5.2, 5.9, 6.6, 7.1, 5.8, 6.3, 6.4, 5.2, 5.7,
       6.9, 6.3, 5. , 4.9, 4.9, 5.8, 5.4, 6.9, 5.5, 5.2, 5.6, 5.2, 5.8,
       6.9, 5.8, 5.5, 6.5, 5.8, 7.3, 5.2, 5.1, 5.8, 6.3, 5.9, 4.7, 5.6,
       5.7, 7. , 5.5, 6. , 5.4, 6.6, 4.9, 5. , 5.5, 6.2, 6.2, 6.5, 5.6,
       5.1, 5.4, 4.9, 5. , 5.7, 6.3, 5.4, 6. , 5.4, 5. , 5.8, 5.2, 5.2,
       5.7, 5.5, 5.1, 5.2, 5. , 5.1, 5.2, 6. , 6.8, 5.9, 5.3, 5.9, 6.4,
       5.4, 4.9, 5.9, 5.3, 5.2, 6.1, 6.1, 5.4, 6.4, 6.8, 6.1, 5.2, 4.8,
       4.8, 4.7, 6.2, 6.1, 5.4, 6.2, 5.4, 5.1, 6.1, 6.3, 5.2, 6.2, 5.9,
       6. , 5.5, 5.4, 5.4, 6.1, 7. , 4.7, 5. ])

In [15]:
from sklearn import metrics
metrics.r2_score(y_pred,y_test)

-0.07419197871949312

In [16]:
metrics.mean_squared_error(y_pred,y_test)

0.37886462882096067